/****** Script for SelectTopNRows command from SSMS  ******/
SELECT TOP 1000 [table_key]
      ,[serial_no]
      ,[remark]
  FROM [YXYZ].[dbo].serial
  
  select * from xmyx_db.dbo.qx_OilInAndOut where oilbatch='047008' order by Autoid 
  
  update serial set serial_no=2314 where table_key='jyxx'
  
  update serial set serial_no=1000 where table_key='cpxx'
  