

SELECT * FROM dbo.t_TableDescription WHERE FDescription LIKE '%凭证%'

SELECT * FROM t_Voucher WHERE FVoucherID=89719
SELECT * FROM 
SELECT * FROM dbo.t_VoucherEntry WHERE FVoucherID=45251
GO

dbo.SpK3_2Str @sName = 't_Voucher' -- varchar(50)
GO

dbo.SpK3_2Str @sName = 't_VoucherEntry' -- varchar(50)


select * from t_FieldDescription  where FTableID=1
SELECT * FROM dbo.t_TableDescription WHERE FTableID=1


---------------------------

SELECT * FROM 

select * from dbo.t_ad_kdAccount_gl

---------------------------------------------------------isInfo><AisInfo><AisID>325</AisID><AisName>ÏÃÃÅ¾ûÀûÉúÎï¿Æ¼¼ÓÐÏÞ¹«Ë¾.</AisName><Number>98.42</Number><Version>8.0.01.02</Version></AisInfo><AisInfo><AisID>326</AisID><AisName>Òø¸»Ê³Æ·ÓÐÏÞ¹«Ë¾.</AisName><Number>98.36</Number><Version>8.0.01.02</Version></AisInfo><AisInfo><AisID>327</AisID><AisName>²âÊÔÓÍÖ¬2</AisName><Number>97.22</Number><Version>8.0.01.02</Version></AisInfo><AisInfo><AisID>328</AisID><AisName>²âÊÔÓÍÖ¬2(98±¸·Ý)</AisName><Number>97.23</Number><Version>8.0.01.02</Version></AisInfo><AisInfo><AisID>329</AisID><AisName>¶¹ÖÆÆ·.</AisName><Number>98.10</Number><Version>8.0.01.02</Version></AisInfo><AisInfo><AisID>330</AisID><AisName>ÔÆî£ÈâÒµ×¨ÓÃ²âÊÔ</AisName><Number>05.00</Number><Version>8.0.01.02</Version></AisInfo><AisInfo><AisID>331</AisID><AisName>ÈâÒµÕÊÌ×</AisName><Number>97.01</Number><Version>8.0.01.02</Version></AisInfo><AisInfo><AisID>332</AisID><AisName>Ê³Æ·ÕÊÌ×</AisName><Number>97.02</Number><Version>8.0.01.02</Version></AisInfo><AisInfo><AisID>333</AisID><AisName>ÈâÖÆÆ·ÕËÌ×</AisName><Number>97.03</Number><Version>8.0.01.02</Version></AisInfo><AisInfo><AisID>334</AisID><AisName>ÈâÖÆÆ·ÕËÌ×20180515</AisName><Number>97.04</Number><Version>8.0.01.02</Version></AisInfo><AisInfo><AisID>335</AisID><AisName>Ê³Æ·ÕÊÌ×20180517</AisName><Number>97.05</Number><Version>8.0.01.02</Version></AisInfo><AisInfo><AisID>336</AisID><AisName>ÈâÒµÕÊÌ×20180517</AisName><Number>97.06</Number><Version>8.0.01.02</Version></AisInfo><AisInfo><AisID>337</AisID><AisName>ÑøÉú¶¹Ô´¹«Ë¾</AisName><Number>02.20</Number><Version>8.0.01.02</Version></AisInfo><AisInfo><AisID>339</AisID><AisName>ÈâÒµÕÊÌ×20180613</AisName><Number>97.07</Number><Version>8.0.01.02</Version></AisInfo><AisInfo><AisID>340</AisID><AisName>Ê³Æ·ÕÊÌ×20180613</AisName><Number>97.08</Number><Version>8.0.01.02</Version></AisInfo><AisInfo><AisID>341</AisID><AisName>ÈâÖÆÆ·ÕËÌ×20180614</AisName><Number>97.09</Number><Version>8.0.01.02</Version></AisInfo><AisInfo><AisID>342</AisID><AisName>ÈâÒµ20180621</AisName><Number>97.10</Number><Version>8.0.01.02</Version></AisInfo><AisInfo><AisID>343</AisID><AisName>¶¹ÖÆÆ·20180704</AisName><Number>97.24</Number><Version>8.0.01.02</Version></AisInfo><AisInfo><AisID>344</AisID><AisName>ÈâÒµÕÊÌ×20180716</AisName><Number>97.25</Number><Version>8.0.01.02</Version></AisInfo><AisInfo><AisID>345</AisID><AisName>Ê³Æ·ÕÊÌ×20180716</AisName><Number>97.26</Number><Version>8.0.01.02</Version></AisInfo><AisInfo><AisID>346</AisID><AisName>ÒøÏéÈâÖÆÆ·</AisName><Number>01.03</Number><Version>8.0.01.02</Version></AisInfo><AisInfo><AisID>347</AisID><AisName>¶¹ÖÆÆ·01</AisName><Number>99.94</Number><Version>8.0.01.02</Version></AisInfo><AisInfo><AisID>348</AisID><AisName>ÈâÖÆÆ·01</AisName><Number>99.93</Number><Version>8.0.01.02</Version></AisInfo><AisInfo><AisID>349</AisID><AisName>ÈâÖÆÆ·02</AisName><Number>99.95</Number><Version>8.0.01.02</Version></AisInfo><AisInfo><AisID>350</AisID><AisName>¶¹ÖÆÆ·02</AisName><Number>99.96</Number><Version>8.0.01.02</Version></AisInfo><AisInfo><AisID>351</AisID><AisName>ÒøÏéËÇÁÏ¹«Ë¾</AisName><Number>02.02</Number><Version>8.0.01.02</Version></AisInfo><AisInfo><AisID>352</AisID><AisName>¶¹ÖÆÆ·APP×¨ÓÃ²âÊÔ</AisName><Number>05.01</Number><Version>8.0.01.02</Version></AisInfo><AisInfo><AisID>353</AisID><AisName>ÈâÖÆÆ·ÕËÌ×20181022</AisName><Number>97.27</Number><Version>8.0.01.02</Version></AisInfo><AisInfo><AisID>354</AisID><AisName>ÈâÖÆÆ·²âÊÔ</AisName><Number>05.02</Number><Version>8.0.01.02</Version></AisInfo><AisInfo><AisID>355</AisID><AisName>ÈâÒµ²âÊÔ</AisName><Number>05.03</Number><Version>8.0.01.02</Version></AisInfo><AisInfo><AisID>356</AisID><AisName>ÈâÒµÕËÌ×20181114</AisName><Number>97.28</Number><Version>8.0.01.02</Version></AisInfo><AisInfo><AisID>357</AisID><AisName>Ê³Æ·ÕÊÌ×20181116</AisName><Number>97.29</Number><Version>8.0.01.02</Version></AisInfo><AisInfo><AisID>358</AisID><AisName>ÈâÖÆÆ·ÕËÌ×20181116</AisName><Number>97.30</Number><Version>8.0.01.02</Version></AisInfo><AisInfo><AisID>359</AisID><AisName>ãüÒæ²âÊÔ</AisName><Number>05.10</Number><Version>8.0.01.02</Version></AisInfo><AisInfo><AisID>360</AisID><AisName>ËÇÁÏ²âÊÔ</AisName><Number>05.11</Number><Version>8.0.01.02</Version></AisInfo><AisInfo><AisID>361</AisID><AisName>Ê³Æ·²âÊÔ</AisName><Number>05.04</Number><Version>8.0.01.02</Version></AisInfo><AisInfo><AisID>362</AisID><AisName>ÒøÏéÓÍÖ¬¹«Ë¾</AisName><Number>06.613</Number><Version>8.0.01.02</Version></AisInfo><AisInfo><AisID>363</AisID><AisName>ÒøÏéÓÍÖ¬½»¸î¿â¹«Ë¾</AisName><Number>06.614</Number><Version>8.0.01.02</Version></AisInfo><AisInfo><AisID>364</AisID><AisName>ÓÍÖ¬²âÊÔ</AisName><Number>05.12</Number><Version>8.0.01.02</Version></AisInfo><AisInfo><AisID>365</AisID><AisName>¶¹ÖÆÆ·²âÊÔ999</AisName><Number>05.999</Number><Version>8.0.01.02</Version></AisInfo><AisInfo><AisID>366</AisID><AisName>ÏÃÃÅÊÐ²ÓºÌÃ³Ò×ÓÐÏÞ¹«Ë¾</AisName><Number>03.05</Number><Version>8.0.01.02</Version></AisInfo><AisInfo><AisID>367</AisID><AisName>ãüÒæ¼ì²â¹«Ë¾</AisName><Number>02.17</Number><Version>8.0.01.02</Version></AisInfo><AisInfo><AisID>368</AisID><AisName>ÈâÒµÕËÌ×20181217</AisName><Number>97.31</Number><Version>8.0.01.02</Version></AisInfo><AisInfo><AisID>369</AisID><AisName>ÈâÖÆÆ·ÕËÌ×20181217</AisName><Number>97.32</Number><Version>8.0.01.02</Version></AisInfo><AisInfo><AisID>370</AisID><AisName>Ê³Æ·ÕÊÌ×20181218</AisName><Number>97.33</Number><Version>8.0.01.02</Version></AisInfo><AisInfo><AisID>371</AisID><AisName>¶¹ÖÆÆ·×·ËÝ×¨ÓÃ²âÊÔ</AisName><Number>05.011</Number><Version>8.0.01.02</Version></AisInfo><AisInfo><AisID>372</AisID><AisName>Ê³Æ·ÕÊÌ×20190116</AisName><Number>97.34</Number><Version>8.0.01.02</Version></AisInfo><AisInfo><AisID>373</AisID><AisName>ÈâÖÆÆ·ÕËÌ×20190116</AisName><Number>97.35</Number><Version>8.0.01.02</Version></AisInfo><AisInfo><AisID>374</AisID><AisName>ÈâÒµÕËÌ×20190117</AisName><Number>97.36</Number><Version>8.0.01.02</Version></AisInfo><AisInfo><AisID>375</AisID><AisName>ÏÃÃÅÊÐ¶¹¶¹ÓÅÃ³Ò×ÓÐÏÞ¹«Ë¾</AisName><Number>02.21</Number><Version>8.0.01.02</Version></AisInfo><AisInfo><AisID>376</AisID><AisName>Ê³Æ·ÕÊÌ×20190228</AisName><Number>97.37</Number><Version>8.0.01.02</Version></AisInfo><AisInfo><AisID>377</AisID><AisName>ÈâÖÆÆ·ÕËÌ×20190314</AisName><Number>97.38</Number><Version>8.0.01.02</Version></AisInfo><AisInfo><AisID>378</AisID><AisName>Ê³Æ·ÕÊÌ×20190315</AisName><Number>97.39</Number><Version>8.0.01.02</Version></AisInfo><AisInfo><AisID>379</AisID><AisName>ÈâÒµÕËÌ×20190316</AisName><Number>97.40</Number><Version>8.0.01.02</Version></AisInfo><AisInfo><AisID>380</AisID><AisName>Ê³Æ·ÕÊÌ×20190424</AisName><Number>97.41</Number><Version>8.0.01.02</Version></AisInfo><AisInfo><AisID>381</AisID><AisName>ÈâÒµÕËÌ×20190424</AisName><Number>97.42</Number><Version>8.0.01.02</Version></AisInfo><AisInfo><AisID>383</AisID><AisName>ÒøÏéÓÍÖ¬£¨¼¯ÍÅ²ÆÎñ201905£©</AisName><Number>06.37</Number><Version>8.0.01.02</Version></AisInfo><AisInfo><AisID>384</AisID><AisName>ÈâÖÆÆ·ÕËÌ×20190506</AisName><Number>97.43</Number><Version>8.0.01.02</Version></AisInfo><AisInfo><AisID>385</AisID><AisName>ÒøÏéÈâÒµ¹«Ë¾</AisName><Number>02.01</Number><Version>8.0.01.02</Version></AisInfo><AisInfo><AisID>386</AisID><AisName>ÈâÖÆÆ·ÕËÌ×20190624</AisName><Number>97.44</Number><Version>8.0.01.02</Version></AisInfo><AisInfo><AisID>387</AisID><AisName>ÈâÖÆÆ·ÕËÌ×20190718</AisName><Number>97.45</Number><Version>8.0.01.02</Version></AisInfo><AisInfo><AisID>388</AisID><AisName>ÈâÒµÕËÌ×20190718</AisName><Number>97.46</Number><Version>8.0.01.02</Version></AisInfo><AisInfo><AisID>389</AisID><AisName>Ê³Æ·ÕÊÌ×20190718</AisName><Number>97.47</Number><Version>8.0.01.02</Version></AisInfo><AisInfo><AisID>390</AisID><AisName>ÈâÖÆÆ·ÕËÌ×20190719</AisName><Number>97.48</Number><Version>8.0.01.02</Version></AisInfo></AisQueryResult><strError/></AisQueryResponse></soap:Body></soap:Envelope>