

/**Begin 新单据模板数据脚本，名称 同步数据配置表    Script Date: 2013-09-06 **/


/****** Object:Data   单据描述：ICClassType    Script Date: 2013-09-06 ******/

DELETE  ICClassType
WHERE   FID = 200000000
GO
 --,'','FPGUID','FEGUID'
GO

/****** Object:Data   单据分录描述：ICClassTypeEntry    Script Date: 2013-09-06 ******/

DELETE  ICClassTypeEntry
WHERE   FParentID = 200000000
GO
 --,1,1
GO

 --,1,1
GO

/****** Object:Data   单据模板字段描述：ICClassTableInfo    Script Date: 2013-09-06 ******/

DELETE  ICClassTableInfo
WHERE   FClassTypeID = 200000000
GO












/****** Object:Data   单据模板通用控件描述：ICClassCtl    Script Date: 2013-09-06 ******/

DELETE  ICClassCtl
WHERE   FClassTypeID = 200000000
GO
/****** Object:Data   单据多布局列表：ICClassLayout    Script Date: 2013-09-06 ******/

--Delete ICClassLayout WHERE FClassTypeID = 200000000
GO
/****** Object:Data   单据多布局明细：ICClassTableInfoLayout    Script Date: 2013-09-06 ******/

--Delete ICClassTableInfoLayout WHERE FClassTypeID = 200000000
GO
/****** Object:Data   单据多布局通用控件明细：ICClassCtlLayout    Script Date: 2013-09-06 ******/

--Delete ICClassCtlLayout WHERE FClassTypeID = 200000000
GO
/****** Object:Data   单据多布局的Page明细：ICClassBillEntryLayout    Script Date: 2013-09-06 ******/

--Delete ICClassBillEntryLayout WHERE FClassTypeID = 200000000
GO
/****** Object:Data   单据模板单据布局控件描述：ICClassEntryEditorLayout    Script Date: 2013-09-06 ******/

--Delete ICClassEntryEditorLayout WHERE FClassTypeID = 200000000 and FLayoutID = 0
GO
/****** Object:Data   序时簿综合查询设置主关系表：icCLassUnionQuery    Script Date: 2013-09-06 ******/

--DELETE icCLassUnionQuery WHERE FSourClassTypeID=200000000
GO
/****** Object:Data   序时簿综合查询设置配置表：icCLassUnionQueryEntry    Script Date: 2013-09-06 ******/

--DELETE icCLassUnionQueryEntry WHERE FSourClassTypeID=200000000
GO
/****** Object:Data   单据权限类弄表：t_ObjectAccessType    Script Date: 2013-09-06 ******/

----Delete t_ObjectAccessType WHERE FObjectType=4100 And FObjectID =200000000
--GO
--INSERT INTO t_ObjectAccessType(FObjectType,FObjectID,FIndex,FAccessMask,FAccessUse,FName,FDescription,FName_cht,FName_en,FDescription_cht,FDescription_en) 
--VALUES (4100,200000000,1,2097152,1048576,'查看','查看','查看','View','查看','View') 
--GO

--INSERT INTO t_ObjectAccessType(FObjectType,FObjectID,FIndex,FAccessMask,FAccessUse,FName,FDescription,FName_cht,FName_en,FDescription_cht,FDescription_en) 
--VALUES (4100,200000000,2,131072,3145728,'新增','新增','新增','New','新增','New') 
--GO

--INSERT INTO t_ObjectAccessType(FObjectType,FObjectID,FIndex,FAccessMask,FAccessUse,FName,FDescription,FName_cht,FName_en,FDescription_cht,FDescription_en) 
--VALUES (4100,200000000,3,65536,3145728,'删除','删除','刪除','Delete','刪除','Delete') 
--GO

--INSERT INTO t_ObjectAccessType(FObjectType,FObjectID,FIndex,FAccessMask,FAccessUse,FName,FDescription,FName_cht,FName_en,FDescription_cht,FDescription_en) 
--VALUES (4100,200000000,4,4194304,3145728,'修改','修改','修改','Edit','修改','Edit') 
--GO

--INSERT INTO t_ObjectAccessType(FObjectType,FObjectID,FIndex,FAccessMask,FAccessUse,FName,FDescription,FName_cht,FName_en,FDescription_cht,FDescription_en) 
--VALUES (4100,200000000,5,64,3145728,'禁用','禁用','禁用','Disable','禁用','Disable') 
--GO

--INSERT INTO t_ObjectAccessType(FObjectType,FObjectID,FIndex,FAccessMask,FAccessUse,FName,FDescription,FName_cht,FName_en,FDescription_cht,FDescription_en) 
--VALUES (4100,200000000,6,16,3145728,'引出内部数据','引出内部数据','引出內部資料','Export Internal Data','引出內部資料','Export Internal Data') 
--GO

--INSERT INTO t_ObjectAccessType(FObjectType,FObjectID,FIndex,FAccessMask,FAccessUse,FName,FDescription,FName_cht,FName_en,FDescription_cht,FDescription_en) 
--VALUES (4100,200000000,7,16384,0,'导出单据模板','导出单据模板','導出單據模板','Export Doc Template','導出單據模板','Export Doc Template') 
--GO

--INSERT INTO t_ObjectAccessType(FObjectType,FObjectID,FIndex,FAccessMask,FAccessUse,FName,FDescription,FName_cht,FName_en,FDescription_cht,FDescription_en) 
--VALUES (4100,200000000,8,32768,3145728,'打印','打印','列印','Print','列印','Print') 
--GO

/****** Object:Data   单据权限对象表：t_ObjectType    Script Date: 2013-09-06 ******/

DELETE  t_ObjectType
WHERE   FObjectType = 4100
        AND FObjectID = 200000000
GO
INSERT  INTO t_ObjectType
        ( FObjectType ,
          FObjectID ,
          FName ,
          FDescription ,
          FName_cht ,
          FName_en ,
          FDescription_cht ,
          FDescription_en
        )
VALUES  ( 4100 ,
          200000000 ,
          '同步数据配置表' ,
          '' ,
          '基礎資料200000000' ,
          'Master Data200000000' ,
          NULL ,
          NULL
        ) 
GO

/****** Object:Data   单据权限表：t_ObjectAccess    Script Date: 2013-09-06 ******/

DELETE  t_ObjectAccess
WHERE   FObjectType = 4100
        AND FObjectID = 200000000
GO
INSERT  INTO t_ObjectAccess
        ( FGroupID ,
          FObjectType ,
          FObjectID ,
          FIndex
        )
VALUES  ( 2101 ,
          4100 ,
          200000000 ,
          0
        ) 
GO

INSERT  INTO t_ObjectAccess
        ( FGroupID ,
          FObjectType ,
          FObjectID ,
          FIndex
        )
VALUES  ( 2101 ,
          4100 ,
          200000000 ,
          1
        ) 
GO

INSERT  INTO t_ObjectAccess
        ( FGroupID ,
          FObjectType ,
          FObjectID ,
          FIndex
        )
VALUES  ( 2102 ,
          4100 ,
          200000000 ,
          0
        ) 
GO









/****** Object:Data   选单关联：ICClassLink    Script Date: 2013-09-06 ******/

DELETE  ICClassLink
WHERE   FDestClassTypeID = 200000000
        OR FSourClassTypeID = 200000000
GO
/****** Object:Data   选单关联明细：ICClassLinkEntry    Script Date: 2013-09-06 ******/

DELETE  ICClassLinkEntry
WHERE   FDestClassTypeID = 200000000
        OR FSourClassTypeID = 200000000
GO
/****** Object:Data   选单钩稽明细：ICClassLinkCommit    Script Date: 2013-09-06 ******/

DELETE  ICClassLinkCommit
WHERE   FDstClsTypID = 200000000
        OR FSrcClsTypID = 200000000
GO
/****** Object:Data   选单流程基本信息：ICClassWorkFlow    Script Date: 2013-09-06 ******/


GO
DECLARE @MaxID AS INT

SELECT  @MaxID = ISNULL(MAX(FID), 10000)
FROM    ICClassWorkFlow


UPDATE  ICMaxNum
SET     FMaxNum = @MaxID + 1
WHERE   FTableName = 'ICClassWorkFlow'
GO


/****** Object:Data   选单流程关联单据：ICClassWorkFlowBill    Script Date: 2013-09-06 ******/

DELETE  ICClassWorkFlowBill
WHERE   FClassTypeID = 200000000
GO
DELETE  ICClassWorkFlowBill
WHERE   FID < 0
        AND FEntryID NOT IN ( SELECT    MAX(FEntryID)
                              FROM      ICClassWorkFlowBill
                              WHERE     FID < 0
                              GROUP BY  FClassTypeID
                              HAVING    COUNT(FClassTypeID) >= 1 ) 
DELETE  ICClassWorkFlowBill
WHERE   FID = ( SELECT  MAX(FID)
                FROM    ICClassWorkFlow
              )
        AND FClassTypeID IN ( SELECT    FClassTypeID
                              FROM      ICCLASSWORKFLOWBILL
                              WHERE     FID < 0 )
UPDATE  ICClassWorkFlowBill
SET     FID = ( SELECT  MAX(FID)
                FROM    ICClassWorkFlow
              )
WHERE   FID < 0 
DELETE  ICClassWorkFlowBill
WHERE   FID < 0 
/****** Object:Data   选单流程关联关系：ICClassWorkFlowJoin    Script Date: 2013-09-06 ******/

DELETE  ICClassWorkFlowJoin
WHERE   FDestClassTypeID = 200000000
        OR FSourClassTypeID = 200000000
GO
UPDATE  ICClassWorkFlowJoin
SET     FID = ( SELECT  MAX(FID)
                FROM    ICClassWorkFlow
              )
WHERE   FID < 0 
DELETE  ICClassWorkFlowJoin
WHERE   FID < 0 
/****** Object:Data   网络控制模板数据：ICClassMutex    Script Date: 2013-09-06 ******/

DELETE  ICClassMutex
WHERE   FClassTypeID = 200000000
GO
/****** Object:Data   网络控制互斥表明细数据：t_Mutex    Script Date: 2013-09-06 ******/

DELETE  t_Mutex
WHERE   FFuncId IN ( SELECT FFuncID
                     FROM   icClassMutex
                     WHERE  FClassTypeID = 200000000 )
        OR FForbidden IN ( SELECT   FFuncID
                           FROM     icClassMutex
                           WHERE    FClassTypeID = 200000000 )

GO
/****** Object:Data   网络控制操作定义明细：t_SysFunction    Script Date: 2013-09-06 ******/

DELETE  t_SysFunction
WHERE   FFuncId IN ( SELECT FFuncID
                     FROM   icClassMutex
                     WHERE  FClassTypeID = 200000000 )

GO
/****** Object:Data   打印控制模板数据：ICPrintMaxCount    Script Date: 2013-09-06 ******/

DELETE  ICPrintMaxCount
WHERE   FID = 200000000
GO
/****** Object:Data   多级审核配置模板数据：ICClassMCFlowInfo    Script Date: 2013-09-06 ******/

DELETE  ICClassMCFlowInfo
WHERE   FID = 200000000
GO
/****** Object:Data   多级审核的工作流任务（各审核级次）模板数据：ICClassMCTasks    Script Date: 2013-09-06 ******/

DELETE  ICClassMCTasks
WHERE   FID = 200000000
GO
/****** Object:Data   多级审核的流程流转和规则模板数据：ICClassMCRule    Script Date: 2013-09-06 ******/

DELETE  ICClassMCRule
WHERE   FID = 200000000
GO
/****** Object:Data   单据操作明细模板数据：ICClassBillAction    Script Date: 2013-09-06 ******/

DELETE  ICClassBillAction
WHERE   FClassTypeID = 200000000
GO
DECLARE @MaxID AS INT

SELECT  @MaxID = ISNULL(MAX(FID), 10000)
FROM    ICClassBillAction
















UPDATE  ICMaxNum
SET     FMaxNum = @MaxID + 15
WHERE   FTableName = 'ICClassBillAction'
GO


/****** Object:Data   单据操作日志模板数据：t_LogFunction    Script Date: 2013-09-06 ******/

DELETE  t_LogFunction
WHERE   FFunctionID LIKE 'BOS200000000%'
GO
INSERT  INTO t_LogFunction
        ( FFunctionID ,
          FFunctionName ,
          FSubSysID ,
          FFunctionName_Cht ,
          FFunctionName_EN
        )
VALUES  ( 'BOS200000000_mnuEditDel' ,
          '销售管理系统-同步数据配置表' ,
          23 ,
          '銷售管理系統-基礎資料200000000' ,
          'Sales Module-Master Data200000000'
        ) 
GO

INSERT  INTO t_LogFunction
        ( FFunctionID ,
          FFunctionName ,
          FSubSysID ,
          FFunctionName_Cht ,
          FFunctionName_EN
        )
VALUES  ( 'BOS200000000_mnuEditDelGroup' ,
          '销售管理系统-同步数据配置表' ,
          23 ,
          '銷售管理系統-基礎資料200000000' ,
          'Sales Module-Master Data200000000'
        ) 
GO

INSERT  INTO t_LogFunction
        ( FFunctionID ,
          FFunctionName ,
          FSubSysID ,
          FFunctionName_Cht ,
          FFunctionName_EN
        )
VALUES  ( 'BOS200000000_mnuEditUnuse' ,
          '销售管理系统-同步数据配置表' ,
          23 ,
          '銷售管理系統-基礎資料200000000' ,
          'Sales Module-Master Data200000000'
        ) 
GO






/****** Object:Data   单据操作位置模板数据：ICClassActionPosition    Script Date: 2013-09-06 ******/

DELETE  ICClassActionPosition
WHERE   FClassTypeID = 200000000
GO
/****** Object:Data   单据扩展服务模板数据：ICClassActionList    Script Date: 2013-09-06 ******/

DELETE  ICClassActionList
WHERE   FClassTypeID = 200000000
GO
INSERT  INTO ICClassActionList
        ( FClassTypeID ,
          FClassActionID ,
          FObject ,
          FDefineType ,
          FSourceType ,
          FSourceField ,
          FAction ,
          FExpression ,
          FOrder ,
          FDescription
        )
VALUES  ( 200000000 ,
          6 ,
          'FName' ,
          0 ,
          4096 ,
          'FAction' ,
          'FParentName' ,
          '' ,
          1 ,
          'Update By Function UpdateOldFiledAction'
        ) 
GO

INSERT  INTO ICClassActionList
        ( FClassTypeID ,
          FClassActionID ,
          FObject ,
          FDefineType ,
          FSourceType ,
          FSourceField ,
          FAction ,
          FExpression ,
          FOrder ,
          FDescription
        )
VALUES  ( 200000000 ,
          6 ,
          'FNumber' ,
          0 ,
          4096 ,
          'FAction' ,
          'FParentNumber' ,
          '' ,
          1 ,
          'Update By Function UpdateOldFiledAction'
        ) 
GO

INSERT  INTO ICClassActionList
        ( FClassTypeID ,
          FClassActionID ,
          FObject ,
          FDefineType ,
          FSourceType ,
          FSourceField ,
          FAction ,
          FExpression ,
          FOrder ,
          FDescription
        )
VALUES  ( 200000000 ,
          12 ,
          'FNumber' ,
          0 ,
          4096 ,
          'FSaveRule' ,
          'FNumber' ,
          '' ,
          1 ,
          'Update By Function UpdateOldFiledAction'
        ) 
GO



/**End  新单据模板数据脚本，名称 同步数据配置表    Script Date: 2013-09-06 **/
